BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 90
AlignOperands: true
AllowShortFunctionsOnASingleLine: Empty
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
PenaltyBreakAssignment: 50
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent
AllowAllParametersOfDeclarationOnNextLine: false
BreakConstructorInitializers: BeforeComma
BreakTemplateDeclarations: Yes
IndentAccessModifiers: false
AccessModifierOffset: -4
AllowShortEnumsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 1000000
